# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: indexer
networks:
- id: 11155111
  start_block: 9972642
  contracts:
  - name: PulseKeeperRegistry
    address:
    - 0x82C1A7C28FA5b364893D6c124D93CBb2E02910e9
    handler: src/EventHandlers.ts
    events:
    - event: UserRegistered(address indexed user, uint256 pulsePeriodSeconds, uint256 timestamp, uint256 deadline)
    - event: CheckIn(address indexed user, uint256 timestamp, uint256 deadline)
    - event: BackupsUpdated(address indexed user, (address,uint16)[] backups)
    - event: PulsePeriodUpdated(address indexed user, uint256 pulsePeriodSeconds, uint256 newDeadline)
  - name: ERC20PeriodTransferEnforcer
    address:
    - 0x474e3Ae7E169e940607cC624Da8A15Eb120139aB
    handler: src/EventHandlers.ts
    events:
    - event: TransferredInPeriod(address indexed sender, address indexed redeemer, bytes32 indexed delegationHash, address token, uint256 periodAmount, uint256 periodDuration, uint256 startDate, uint256 transferredInCurrentPeriod, uint256 transferTimestamp)
  - name: NativeTokenPeriodTransferEnforcer
    address:
    - 0x9BC0FAf4Aca5AE429F4c06aEEaC517520CB16BD9
    handler: src/EventHandlers.ts
    events:
    - event: TransferredInPeriod(address indexed sender, address indexed redeemer, bytes32 indexed delegationHash, uint256 periodAmount, uint256 periodDuration, uint256 startDate, uint256 transferredInCurrentPeriod, uint256 transferTimestamp)
unordered_multichain_mode: true
preload_handlers: true
